doctype html
head
  title Tic Tac Toe
  meta(charset='UTF-8')
  style
    include ../src/styles.css

body
  h1 Tic Tac Toe
  button(type='button' onclick='clearTable(table)') New Game
  br
  br
  
  script
    include ../src/game.js

  h2

 

  

  